<!DOCTYPE html>
<html lang="en">

<head>
  <meta name="viewport" content="width=device-width" />
   <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}" />
   <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
   <title>Civilian | SourceCAD</title>

  <script>
  function goBack() {
    window.history.back()
  }
  </script>
</head>

<header>
  <div class="back">
    <button onclick="goBack()'" class="button_back" type="button" name="button">Back</button>
  </div>
</header>

<body>
  <div class="admin_container">

    <div class="tables">
      <div class="user_table">
        <table style="float:left;margin-right:40px;">
          <caption>Users</caption>
          <tr>
            <th>User</th>
            <th>Password</th>

            <th>Role</th>
            <th>User Snowflake</th>
          </tr>
          <!-- in onclick="%edit%" change the hash to a edit portion -->
          <tr onclick="#">
            <td>{{username}}</td>
            <td>{{user_pass}}</td>
            <td>{{user_role}}</td>
            <td>{{user_snowflake}}</td>
          </tr>
        </table>
      </div>

      <div class="activity_table">
        <table style="margin-right:20px;">
          <caption>User Activity</caption>
          <tr>
            <th>User</th>
            <th>Role</th>
            <th>Last Login</th>
            <th>Last Login Time</th>
          </tr>
          <!-- in onclick="%edit%" change the hash to a edit portion -->
          <tr onclick="#">
            <td>{{username}}</td>
            <td>{{user_role}}</td>
            <td>{{last_login}}</td>
            <td>{{last_login_time}}</td>
          </tr>
        </table>
      </div>
    </div>

    <div class="adduser">
      <form method="POST" action="">
        <input style="width:100%;" type="text" name="user_name" placeholder="Username">
        <input style="width:100%;" type="text" name="user_password" placeholder="Password">
        <input style="width:100%;" type="text" name="user_email" placeholder="Email">
        <h4>Dispatch:</h4> <input style="margin-top:4px;margin-bottom:0px;" id="check" type="checkbox" name="is_dispatch"><br>
        <h4>Civilian:</h4> <input style="margin-top:4px;margin-bottom:0px;" id="check" type="checkbox" name="is_civilian"><br>
        <h4>Officer:</h4> <input style="margin-top:4px;margin-bottom:0px;" id="check" type="checkbox" name="is_officer"><br>
        <input id="submit" style="width:100%;" type="submit" value="Create User">
      </form>
    </div>
  </div>
</body>

</html>
