<!DOCTYPE html>
<html lang="en">

<head>
  <meta name="viewport" content="width=device-width" />
   <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}" />
   <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
   <title>Civilian | SourceCAD</title>

  <script>
  function goBack() {
    window.history.back()
  }
  </script>
</head>

<header>
  <div class="back">
    <button onclick="goBack()'" class="button_back" type="button" name="button">Back</button>
  </div>
</header>

<body>
  <div class="admin_container">

    <div class="tables">
      <div class="user_table">
        <table style="float:left;margin-right:40px;">
          <caption>Users</caption>
          <tr>
            <th>User</th>
            <th>Role</th>
            <th>User Snowflake</th>
          </tr>
          <!-- in onclick="%edit%" change the hash to a edit portion -->
          <tr onclick="#">
            <td>Harry</td>
            <td>Dispatcher / Officer / Civilian</td>
            <td>302454373882003456</td>
          </tr>
        </table>
      </div>

      <div class="activity_table">
        <table style="margin-right:20px;">
          <caption>User Activity</caption>
          <tr>
            <th>User</th>
            <th>Role</th>
            <th>Last Login</th>
            <th>Last Login Time</th>
          </tr>
          <!-- in onclick="%edit%" change the hash to a edit portion -->
          <tr onclick="#">
            <td>Harry (1B-03)</td>
            <td>Dispatcher / Officer / Civilian</td>
            <td>12th February 2018</td>
            <td>3:02 (HR:MIN)</td>
          </tr>
        </table>
      </div>
    </div>

    <div class="adduser">
      <form method="POST" action="">
        <input style="width:98%;" type="text" name="user_name" placeholder="Username">
        <input style="width:98%;" type="text" name="user_email" placeholder="Email">
        <h4>Dispatch:</h4> <input style="margin-top:4px;margin-bottom:0px;" id="check" type="checkbox" name="is_dispatch"><br>
        <h4>Civilian:</h4> <input style="margin-top:4px;margin-bottom:0px;" id="check" type="checkbox" name="is_civilian"><br>
        <h4>Officer:</h4> <input style="margin-top:4px;margin-bottom:0px;" id="check" type="checkbox" name="is_officer"><br>
        <input id="submit" style="width:98%;" type="submit" value="Create User">
      </form>
    </div>

    <div class="edit_user">
      <form style="border-bottom:2px solid gray;margin-bottom:10px;" method="POST" action="">
        <input style="width:90%;" type="text" name="search_user" placeholder="Search a user"><input id="submit" style="width:8%;padding:3px;height:43px;" type="submit" value="Search">
      </form>
      <form methid="POST" action="">
        <input style="width:98%;" type="text" name="user_name" placeholder="Username">
        <input style="width:98%;" type="text" name="user_email" placeholder="Email">
        <h4>Dispatch:</h4> <input style="margin-top:4px;margin-bottom:0px;" id="check" type="checkbox" name="is_dispatch"><br>
        <h4>Civilian:</h4> <input style="margin-top:4px;margin-bottom:0px;" id="check" type="checkbox" name="is_civilian"><br>
        <h4>Officer:</h4> <input style="margin-top:4px;margin-bottom:0px;" id="check" type="checkbox" name="is_officer"><br>
        <input id="submit" style="width:98%;" type="submit" value="Edit User">
        <input id="remove" style="width:98%;" type="submit" value="Remove User">
      </form>
    </div>

  <div class="registration-admin">
    <p id="mini-header-admin">Registering Users</p>
    <div id="single-registration">
      <solid>Username: </solid>{{registering_username}} <solid>Email:</solid> {{registering_email}} <solid>Role:</solid> {{registering_role}}
      <input id="submit" style="width:10%;" type="submit" value="Approve">
      <input id="remove" style="width:10%;" type="submit" value="Reject">
    </div>
  </div>

  </div>
</body>

</html>
