<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width" />
  <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='style/style.css') }}">
  <title>Civilian | SourceCAD</title>
</head>
<body>
  <div class="back">
    <button onclick="window.location.href='http://cad.saroleplay.net/'" class="button_back" type="button" name="button">Back</button>
  </div>
  <!--<div class="header_all">
    <h1>SourceCAD</h1>
  </div> -->
  <div class="civcontainer">
  <div class="form" id="formleft">
    <form action="">
      <input type="text" name="char_name" placeholder="Name: (John Doe)">
      <input type="date" name="char_age" placeholder="Birthdate: (01/01/1111)">
      <input type="text" name="char_address" placeholder="Address: (714, Sandy Shores)">
      <h4>Stolen:</h4>  <input checked="checked" id="check" type="checkbox" name="veh_stolen"><br>
      <input id="submit" type="submit" value="Register!">
    </form>
  </div>
  <div class="form" id="formright">
    <form action="">
      <input type="text" name="veh_make" placeholder="Vehicle Make: (Karin)">
      <input type="text" name="veh_model" placeholder="Vehicle Model: (Rebel)">
      <input type="text" name="veh_color" placeholder="Color: (Red)">
      <h4>Vehicle Owner:<br></h4>
      <select id="select_form" name="veh_owner" size="4">
        <option value="char"> list self characters</option>
      </select>
      <h4>License:</h4>  <input checked="checked" id="check" type="checkbox" name="char_license"><br>
      <input id="submit" type="submit" value="Register!">
    </form>
  </div>
  <button class="single_button_civilian" type="button" name="button">911 </button>
</div>
</body>
</html>
