<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width" />
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}"/>
  <link rel="shortcut icon" href="{{ url_for('static', filename='image/favicon.ico') }}"/>
  <title>Dispatch | SourceCAD</title>
</head>
<body>
  <div class="back">
    <button onclick="window.location.href='http://cad.saroleplay.net/'" class="button_back" type="button" name="button">Back</button>
  </div>
  <div class="header_all">
    <h1>SourceCAD</h1>
  </div>
</body>
</html>
