<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="{{ url_for('static',filename='styles/style.css') }}">
  <title>Computer Aided Dispatch | SourceCAD</title>
</head>
<body>
  <!--<img class="image-top" src="image/banner.png" alt=""> -->
  <div class="container">
    <div class="nameheader">
      <h2>Officer Harry - 1K-18</h2>
    </div>
    <div class="meta">
      <div class="departments">
        <form>
          <center> <button onclick="window.location.href='http://cad.saroleplay.net/login'" id="button" class="button-dispatch" type="button" name="button">Dispatcher</button> </center>
          <center> <button onclick="window.location.href='http://cad.saroleplay.net/login'" id="button" class="button-leo" type="button" name="button">Law Enforcement</button> </center>
          <center> <button onclick="window.location.href='http://cad.saroleplay.net/login'" id="button" class="button-civ" type="button" name="button">Civilian</button> </center>
        </form>
      </div>
    </div>
  </div>

</body>
</html>
