<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width" />
  <link rel="shortcut icon" href="{{ url_for('static', filename='image/favicon.ico') }}"/>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}"/>
  <title>Login | SourceCAD</title>
</head>
<body>

  <!--<div class="header_all">
    <h1>SourceCAD</h1>
  </div>-->
<div class="container">

  <div class="header">
    <h1 class="loginheader">LOGIN</h1>
  </div>
  <div class="meta">
    <div class="login">
      <h2>Login<h2>
      <!-- smallprint on the login page -->
      <p id="smallprint">Your credentials are given via discord, if you have not recieved them, message the administration or email help@saroleplay.net</p>
      <form action="" method="POST">
        <div id="form_title"> Unit Number:<br></div>
        <input type="text" name="units" placeholder="(E.G) 1K-25">
        <div id="form_title">Password:<br></div>
        <input type="password" name="password" placeholder="*******">
        <input id="submit" type="submit" value="Login">
      </form>
    </div>
  </div>

</div>
</body>
</html>
