<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width" />
  <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='style/style.css') }}">
  <title>Login | SourceCAD</title>
</head>
<body>

  <!--<div class="header_all">
    <h1>SourceCAD</h1>
  </div>-->
<div class="container">

  <div class="header">
    <h1 class="loginheader">LOGIN</h1>
  </div>
  <div class="meta">
    <div class="login">
      <h2>Login<h2>
      <!-- smallprint on the login page -->
      <p id="smallprint">Your credentials are given via discord, if you have not recieved them, message the administration or email help@saroleplay.net</p>
      <form medthod="post" action="">
        <input type="text" name="units" placeholder="Unit Number: (1K-25)">
        <input type="password" name="password" placeholder="Password: (*******)">
        <input id="submit" type="submit" value="Login">
      </form>
    </div>
  </div>

</div>
</body>
</html>
