<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width"/>
  <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='style/style.css') }}">
  <title>Police System | SourceCAD</title>
  <style>
  button {
    border: none;
    background-color: #5e5e5e;
    height: 80px;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 21px;
  }
</style>
</head>
<body>
  <div class="back">
    <button onclick="goBack()" class="button_back" type="button" name="button">Back</button>
  </div>
  <!--<div class="header_all">
    <h1>SourceCAD</h1>
  </div>-->
  <div class="container1">
    <div class="button_police">
      <form>
        <!-- Search NCIC -->
        <center> <button class="buttonofficer" type="button" name="button">Search <br>NCIC</button> </center>
        <!-- Search Plate -->
        <center> <button class="buttonofficer" type="button" name="button">Search <br>PLATE</button> </center>
        <!-- Add ticket -->
        <center> <button class="buttonofficer" type="button" name="button">Add <br>TICKET</button> </center>
        <!-- Panic Button -->
        <center> <button class="buttonofficer" type="button" name="button">PANIC <br>BUTTON</button> </center>
        <!-- Current Callout -->
        <!-- BOLOs -->
      </form>
    </div>
    <div class="main">
      <h4>Call</h4> - {insert current call}  <h4>Units</h4> - {insert on scene units} <br> <h4>Location</h4> - {insert location of call}  <h4>Time</h4> - {insert current time}
    </div>
    <div class="codes">
      <form>
        <!-- 10/8 -->
        <center> <button class="buttonofficer" type="button" name="button">10/8</button> </center>
        <!-- 10/7 -->
        <center> <button class="buttonofficer" type="button" name="button">10/7</button> </center>
        <!-- 10/6 -->
        <center> <button class="buttonofficer" type="button" name="button">10/6</button> </center>
      </form>
    </div>
  </div>
</body>
</html>
